<!doctype html>
<html>
  <head>
    <title>Mongo DB Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://kit.fontawesome.com/9df66f7bcf.js" crossorigin="anonymous"></script>

    <script src="/script.js"></script>
   <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
             
<div class="sidenav">
 <div class="account" style="float: left;">
   
   <input style="display:none; opacity:0;" id="usernamevalue" value="<%= user.username %>"/>
   <span><img class="img" src="<%= user.pp %>"  style="border-radius:50%; vertical-align: middle; display: inline;"></span>
    <div style="vertical-align: middle; display: inline;" class="usernamebrd"><span style="vertical-align: middle; display: inline;"><%= user.username %></span></div>
      
<br>
  </div>
    
  
    

    
  <% if(!user){ %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <%  } else { %>
  <a href="/config"><i class="fas fa-cogs"></i> Settings</a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  <% } %>
</div>
    
   
    
    <div class="main">
      
  <div class="navbar">
  
</div>
    <ul id="messages"></ul>
      
      
      
      
    <form id="inputzone" action="">
      <div class="form">
      <input id="m" class="m" autocomplete="off" placeholder="Content" id="InputContentMessage" class="InputContentMessage"/>
      <!--<input id="image-file" type="file"/>-->
      </div>  
    </form>
      
          <div id="memberlist"></div>
      
    <script>
      localStorage.setItem('token', "<%= user.token %>");
      </script>
      
    </div>
  </body>
</html>
